.editprofile{
    h2{
        border-bottom: solid $dark 1px;
        padding-bottom: 8px;
        margin-bottom: 16px;
    }
}
.usernumber{
    img{
        width: 20px;
        height: 20px;
    }
}